<div class="container">
    <h1 class="mt-5">Edit Product</h1>
    <form class="mt-4" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="name" formControlName="name"
                [ngClass]="{'is-invalid': productForm.controls['name'].invalid && productForm.controls['name'].touched}" />
            <div *ngIf="productForm.controls['name'].invalid && productForm.controls['name'].touched"
                class="text-danger">
                <small *ngIf="productForm.controls['name'].errors?.['required']">Name is required.</small>
                <small *ngIf="productForm.controls['name'].errors?.['maxlength']">Name cannot exceed 100
                    characters.</small>
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description"
                [ngClass]="{'is-invalid': productForm.controls['description'].invalid && productForm.controls['description'].touched}" />
            <div *ngIf="productForm.controls['description'].invalid && productForm.controls['description'].touched"
                class="text-danger">
                <small *ngIf="productForm.controls['description'].errors?.['required']">Description is required.</small>
                <small *ngIf="productForm.controls['description'].errors?.['maxlength']">Description cannot exceed 500
                    characters.</small>
            </div>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" formControlName="price"
                [ngClass]="{'is-invalid': productForm.controls['price'].invalid && productForm.controls['price'].touched}" />
            <div *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched"
                class="text-danger">
                <small *ngIf="productForm.controls['price'].errors?.['required']">Price is required.</small>
                <small *ngIf="productForm.controls['price'].errors?.['min']">Price must be a positive number.</small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Update Product</button>
    </form>
</div>